extends layout

block content
  - var title = 'OdinBook';
  - var user = 'John';
  .row
   .col-lg-3(style='border-right: 1px solid gray;')
     // Left column for activites
     h1.display-6 #{user}
     ul
      li
       a(href="") Watch
      li
       a(href="") Events
      li
       a(href="") Friends
      li
       a(href="") Memories
     hr.my-4
     h1.display-6 Shortcuts
     ul
      li
       a(href="")
   .col-lg-6(id='timeline')
     // Feed goes here
     h4.form-title New Post
     form(action='/posts/new', method='post')
     div.form-group
      // user image
      // label #{user}
      textarea.form-control(name="content", placeholder="What's on your mind?",cols="30", rows="5", style='margin-bottom: 2vh;')
      label.btn.btn-lg.btn-outline-secondary.btn-file(style='width: 100%;') Add image
        input(type="file", style='display: none;')
      button.btn.btn-sm.btn-primary(id='submitPost',type='submit') Post
      hr.my-3
      each post in posts
       div.card
        .card-header
         h6= post.user
         span= post.timestamp
        .card-body
         div= post.content
         p= post.likes
         hr.my-2
         form(action="/posts/#{post.id}/like", method='post')
          button.btn.btn-sm Like this post
         // like, comment, share links/buttons
         hr.my-2
        .card-footer
         form.form-group(action='/posts/#{post.id}/comments/new', method='post')
          textarea.form-control-sm(name='comment', placeholder='Add comment')
   .col-lg-3(style='border-left: 1px solid gray;')
    // Right column for profile info + friends
    h1.display-6 Add
     i
    hr.my-4
    h1.display-6 Birthdays
    hr.my-4
    h1.display-6 Friends

