extends layout

block content
  - var title = 'OdinBook';
  - var name = 'Terry';
  - var image = 'https://api.time.com/wp-content/uploads/2017/12/terry-crews-person-of-year-2017-time-magazine-2.jpg?w=800&quality=85';
  - var posts = [];
  .row
   .col-lg-3(style='border-right: 1px solid gray; margin-left: 2vh;')
     // Left column for activites
     h1.display-6= name
     img.homeProfilePic(src=image)
     hr.my-4
     h4.form-title New Post
     form(action='/posts/new', method='post')
     div.form-group
      // user image
      // label #{user}
      textarea.form-control(name="content", placeholder="What's on your mind?",cols="30", rows="5", style='margin-bottom: 2vh;')
      label.btn.btn-sm.btn-outline-secondary.btn-file(style='width: 100%;') Add image
        input(type="file", style='display: none;')
      button.btn.btn-lg.btn-primary(id='submitPost',type='submit') Post
   .col-lg-9(id='timeline')
     each post in posts
      div.card
       .card-header
        h6= post.user
        span= post.timestamp
       .card-body
        div= post.content
        p= post.likes
        hr.my-2
        form(action="/posts/#{post.id}/like", method='post')
         button.btn.btn-sm Like this post
        // like, comment, share links/buttons
        hr.my-2
       .card-footer
        form.form-group(action='/posts/#{post.id}/comments/new', method='post')
         textarea.form-control-sm(name='comment', placeholder='Add comment')